# Dependencies
node_modules/

# Astro
.astro/
dist/

# pnpm
.pnpm-store/
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Logs and local caches
*.log
*.tsbuildinfo

# Visual Studio Code
.vscode

# JetBrains IDEs
.idea/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump

# macOS
.DS_Store
