# ┌────────────────────────────────
# │ Общие настройки BaronessAuth.
# │ 
# │ Сюда попадают только небольшие настройки, которые некуда направить.
# │ Большая часть настроек находится в других файлах.
# └────────────────────────────────

# ----------------------------------------------------------------------

# ┌────────────────────────────────
# │ Настройки подключения к базе данных.
# └────────────────────────────────
database:
  # ┌────────────────────────────────
  # │ Тип базы данных для подключения.
  # │ Можно указать:
  # │ - H2                          работает без настроек, данные хранятся в папке
  # │ - MySQL (8.0.0 и выше)        требует настроек подключения
  # │ - MariaDB (10.6.0 и выше)     требует настроек подключения
  # │ - PostgreSQL (13.0.0 и выше)  требует настроек подключения
  # │
  # │ [!] Любые изменения настроек в этой секции требуют полной перезагрузки BungeeCord!
  # └────────────────────────────────
  type: 'H2'

  # Адрес (IP).
  address: 'localhost'

  # Порт. Плагин знает стандартные - укажите 0, чтобы он подставил нужный сам.
  port: 0

  # Имя базы данных.
  database: 'mydatabase'

  # Пользователь.
  username: 'user'

  # Пароль.
  password: 'password'

# ┌────────────────────────────────
# │ Настройки серверов.
# └────────────────────────────────
servers:
  # ┌────────────────────────────────
  # │ Сервера, на которых игрок будет находиться, пока ещё не авторизовался.
  # │
  # │ Если вы используете формат вида domain.com:server_name,
  # │ игроки с domain.com всегда будут подключаться к этим серверам.
  # │
  # │ Если серверов указано несколько, плагин будет отправлять на тот, у которого наименьший онлайн.
  # │ Чтобы это работало, включите у них server.properties -> enable-status=true
  # └────────────────────────────────
  auth:
  - 'auth'

  # ┌────────────────────────────────
  # │ Сервера, на которые игрок будет отправляться после успешной авторизации.
  # │
  # │ Если вы используете формат вида domain.com:server_name,
  # │ игроки с domain.com всегда будут подключаться к этим серверам.
  # │
  # │ Если серверов указано несколько, плагин будет отправлять на тот, у которого наименьший онлайн.
  # │ Чтобы это работало, включите у них server.properties -> enable-status=true
  # └────────────────────────────────
  lobby:
  - 'lobby'

  # ┌────────────────────────────────
  # │ Автоматическое создание лимбо-серверов.
  # │ 
  # │ Пожалуйста, прочтите это, чтобы лучше понимать настройку и контекст:
  # │ https://blackbaroness.github.io/docs/pages/baronessauth/guide/embedded-servers.html#%D0%BF%D0%BE%D0%BB%D0%BD%D1%8B%D0%B8
  # │ 
  # │ Пользуясь сервером типа "paper", вы соглашаетесь с EULA (https://aka.ms/MinecraftEULA).
  # │ [!] Любые изменения настроек в этой секции требуют полной перезагрузки BungeeCord!
  # └────────────────────────────────
  embedded-servers:
    'auth': !<paper>
      # Включён ли сервер? Позволяет отключить его, не удаляя из конфига.
      enabled: true
      # Версия (1.8.8, 1.12.2, 1.16.5, latest) - обязательно прочтите документацию выше!
      version: '1.8.8'
      # Если указан порт 0, плагин автоматически выберет свободный - менять необязательно.
      port: 0
      # Вы можете установить свою схематику - прочтите гайд выше, чтобы узнать, как.
      schematic: 'default-auth'
      # Статичное время на сервере, значения: https://minecraft.fandom.com/wiki/Daylight_cycle#24-hour_Minecraft_day
      # Установите -1, чтобы оно не было статичным (будет ванильный цикл дня и ночи).
      time: 12040
      # Включить/выключить погоду.
      # Если погода выключена, всегда будет ясное небо.
      weather: true
      # Настройки Forwarding - обычно нужно менять только при использовании Velocity Forwarding
      # https://blackbaroness.github.io/docs/pages/baronessauth/guide/embedded-servers.html#forwarding
      forwarding: !<none> {}
      # Настройки Java (вам не стоит тут ничего менять)
      java:
        xmx: '1 GiB'
        provider: !<automatic> {}
        override-flags: []

  # ┌────────────────────────────────
  # │ Сервера, для доступа к которым игрок ОБЯЗАН иметь какую-либо привязку.
  # │
  # │ Вы НЕ должны вписывать сюда auth/lobby сервера.
  # │ Только обычные, куда игрока направляют другие плагины.
  # └────────────────────────────────
  require-link:
    list:
    - 'super-duper-secure-server'
    # Разрешённые для допуска методы привязки, например, ['vk', 'telegram']. Пустой список = разрешены все.
    allowed-link-methods: []
    message: |-
      <red>Вы должны иметь привязку, чтобы войти на этот сервер.

      Используйте /link, чтобы привязаться.
      Или /premium, если у вас есть лицензия Minecraft.
    bypass-permission:
      enabled: false
      value: 'BaronessAuth.bypass.require_link'

# ┌────────────────────────────────
# │ Настройки автоматических бекапов.
# │ Важнейшая функция, позволяющая автоматически создавать полные бекапы всех данных.
# │ Созданные файлы лежат в папке BaronessAuth/backups.
# │ BaronessAuth создаёт бекапы крайне эффективно - 100.000 регистраций занимают всего ~3 MiB!
# │ 
# │ Бекапы можно восстановить в любой момент, в любую подключенную базу данных,
# │ используя /baronessauth backup load.
# └────────────────────────────────
automatic-backup:
  enabled: true
  interval: '1 ч'
  compression-level: 8

# ┌────────────────────────────────
# │ Настройки напоминания о привязке.
# │ Если игрок не привязан, плагин напомнит ему о важности этого после успешного входа.
# │ Эта функция сама выключается, если у вас нет сервисов привязки.
# └────────────────────────────────
link-reminder:
  enabled: true
  delay: '3 сек'
  message: |-
    <hover:show_text:'<yellow>Правильно, сюда!'><click:run_command:'/link'><color:#ffaa3b>⚠ <u>Ваш аккаунт уязвим!</u></color>
    <color:#ff9b69>Привяжите его, чтобы избежать взлома!
    Нажмите <u>сюда</u> для просмотра вариантов (/link).</color></click></hover>

# ┌────────────────────────────────
# │ Общие логи, позволяющие отследить действия игроков.
# │ Они сохраняются в отдельные файлы, в папке BaronessAuth/logs
# │
# │ Когда размер файла достигает compression-threshold, создаётся его копия в архиве .xz, чтобы экономить место.
# │ Рекомендую использовать https://www.7-zip.org/ для открытия этого архива.
# └────────────────────────────────
general-logs:
  # Логи о регистрации игроков (BaronessAuth/logs/registrations.txt)
  registrations:
    print-to-file: true
    print-to-console: true
    compression-threshold: '50 MiB'
  # Логи о логине игроков (BaronessAuth/logs/logins.txt)
  logins:
    print-to-file: true
    print-to-console: true
    compression-threshold: '50 MiB'
  # Логи о смене пароля любым способом (BaronessAuth/logs/password_changes.txt)
  password-changes:
    print-to-file: true
    print-to-console: true
    compression-threshold: '50 MiB'
